<template>
    <div>
     <div class="warning" v-if="!weather.name && weather.message"><span>{{weather.message}}</span><br /><img src='../logo/iconfinder.png' /></div>
      <div class="weather-wrap" v-if="typeof weather.main != 'undefined'">
        <div class="location-box">
          <div class="location">{{weather.name}}, {{weather.sys.country}}</div>
          <div class="date">{{moment().format("MMM Do YY")}}</div>
        </div>
        <div class="weather-box">
            <div class="temp">{{Math.round(weather.main.temp)}}°C</div>
            <div class="weather">{{weather.weather[0].main}}</div>
                <div v-if="weather.weather[0].main =='Clear'"><img src='../logo/sun.png' /></div>
                <div v-if="weather.weather[0].main =='Clouds'"><img src='../logo/cloud.png' /></div>
                <div v-if="weather.weather[0].main =='Rain'"><img src='../logo/rain.png' /></div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Result',
  props: ['weather']
}
</script>
<style scoped>
.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.weather-box {
  text-align: center;
}
.weather-box .temp {
  display: inline-block;
  padding: 10px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  background-color:rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 30px 0px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.warning {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  text-align: center;
}

</style>